nav {
    background-color: #78C2AD;
}

nav .brand-logo {
    padding-left: 10px;
}

.left-option {
    margin-left: 250px;
}

.subtext {
	font-size: 50%;
}

.collapsible-header {
	display: block;
}

#side_bar {
    border: 0;
    height: 100vh;
    position: fixed;
}

/* To override styling in materializecss */
@media only screen and (max-width: 992px) {
    nav .brand-logo {
        left: 0;
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}
