{% extends 'base.html' %} {% block content %}

<div class="container">
    <h3>Add Recipe</h3>
    <div class="row">
        <form action="{{ url_for('insert_recipe') }}" method="POST" class="col s12" action="/insert_recipe">
            <div class="row">
                <div class="input-field col s12">
                    <input type="text" name="name" id="name" minlength="2" maxlength="20" required/>
                    <label for="name">Recipe Name</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12 m4">
                    <div id="cuisines_container">
                        <div class="cuisine" id="cuisine_1">
                            <input type="text" name="cuisine_1" placeholder="Cuisine" minlength="2" maxlength="20" class="col s8" required/>
                            <a class="btn waves-effect waves-light add_cuisine col s4"><i class="material-icons">add</i></a>
                        </div>
                    </div>
                </div>
                <div class="input-field col s12 m8">
                    <select id="origin" name="origin" data-live-search="true" required>
                        <option value="" disabled selected>Choose Country of Origin (Type in country name to speed up search)</option>
                        {% for c in countries %}
                            <option value="{{ c.country }}">{{ c.country }}</option>
                        {% endfor %}
                    </select>
                    <label>Country of Origin</label>
                </div>
            </div>
            <div class="row">
                <div class="intput-field col s12 m6">
                    <div id="ingredients_container">
                        <div class="ingredient" id="ingredient_1">
                            <input type="text" name="ingredient_1" placeholder="Ingredient" class="col s6" required/>
                            <input type="text" name="unit_1" placeholder="Unit" class="col s3" required/>
                            <a class="btn waves-effect waves-light add_ingredient col s3"><i class="material-icons">add</i></a>
                        </div>
                    </div>
                </div>
                <div class="input-field col s12 m6">
                    <select id="origin" name="origin" data-live-search="true" multiple>
                        <option value="" disabled>Choose Allergens</option>
                        {% for a in allergens %}
                            <option value="{{ a.allergen }}">{{ a.allergen }}</option>
                        {% endfor %}
                    </select>
                    <label>Allergens</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <div id="instructions_container">
                        <div class="instruction" id="instruction_1">
                            <textarea class="materialize-textarea col s10 " placeholder="Instruction" name="instruction_1" required></textarea>
                            <a class="btn waves-effect waves-light add_instruction col s2"><i class="material-icons">add</i></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="input-field col s12">
                    <i class="material-icons prefix show-on-medium-and-up">person</i> {% if 'username' not in session %}
                    <input disabled value="guest" id="disabled" type="text" class="validate"> {% else %}
                    <input disabled value="{{ session['username'] }}" id="disabled" type="text" class="validate"> {% endif %}
                    <label for="author">By</label>
                </div>
            </div>

            <div class="input-field col s12">
                <button class="waves-effect waves-light btn" type="submit"><i class="material-icons right">add_circle</i>Add Recipe</button>
            </div>
        </form>
    </div>
</div>

{% endblock %}
