{% extends 'base.html' %} {% block content %}

<nav>
    <div class="nav-wrapper">
        <a href="{{ url_for('index') }}" class="brand-logo">Cooking Online</a>
        <a href="#" data-target="menu" class="sidenav-trigger right"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">
            {% if 'username' not in session %}
                <li><a href="{{ url_for('login')}}">Login</a></li>
                <li><a href="{{ url_for('register')}}">Register</a></li>
            {% else %}
                <li><a href='#'>Hi, {{ session['username'] }}</a></li>
                <li><a href="{{ url_for('logout') }}">Logout</a></li>
            {% endif %}
        </ul>
    </div>
</nav>

<ul class="sidenav" id="menu">
    {% if 'username' not in session %}
        <li><a href="{{ url_for('login')}}">Login</a></li>
        <li><a href="{{ url_for('register')}}">Register</a></li>
    {% else %}
        <li>
            <div class="user-view">
                <div class="background green darken-2"></div>
                <h3 class="white-text">Hi, {{ session['username'] }}</h3>
            </div>
        </li>
        <li><a href="{{ url_for('logout') }}">Logout</a></li>
    {% endif %}
</ul>




{% endblock %}
