{% extends 'base.html' %} {% block content %}

<div class="col s12 m8 l10 offset-m4 offset-l2 center-align">
	<div class="row">
        <div class="col s12 m10 offset-m1">
            <h2>Most Likes</h2>
            <h6>Recipes with most likes. These are what our users recommend!</h6>
            <div class="collection">
            {% for m in most_upvote %}
                <a href="{{ url_for('view_recipe', recipe_id=m._id) }}" class="collection-item"><span class="flow-text teal-text text-darken-3">{{ m.recipe_name.title() }}</span> by <span class="flow-text teal-text text-darken-3">{{ m.author }}</span> <span class="black-text">Likes: {{ m.upvote_count }}</span></a>
            {% endfor %}
            </div>
        </div>
    </div>
</div>

{% endblock %}