{% extends 'base.html' %} {% block content %}
<div class="col s12 m12 l10 offset-l2 center-align">
    <div class="row">
        <div class="col s12 m6" id="cuisine_pie"></div>
        <div class="col s12 m6">
            <h2>{{ cuisine }} Recipes</h2>

            <ul class="pagination">
							{% if page|int == 1 %}
								<li class="disabled"><a href="#"><i class="material-icons">chevron_left</i></a></li>
							{% else %}
								<li><a href="{{ url_for('recipes_by_cuisine', cuisine=cuisine, page=page|int - 1) }}"><i class="material-icons">chevron_left</i></a></li>
							{% endif %}

							{% for r in recipes %}
								{% if loop.index == page|int %}
									<li class="active"><a href="#">{{ loop.index }}</a></li>
								{% else %}
									<li class="waves-effect"><a href="{{ url_for('recipes_by_cuisine', cuisine=cuisine, page=loop.index) }}">{{ loop.index }}</a></li>
								{% endif %}
							{% endfor %}

							{% if page|int == recipes|length %}
								<li class="disabled"><a href="#"><i class="material-icons">chevron_right</i></a></li>
							{% else %}
								<li><a href="{{ url_for('recipes_by_cuisine', cuisine=cuisine, page=page|int + 1) }}"><i class="material-icons">chevron_right</i></a></li>
							{% endif %}
						</ul>

            <div class="collection">
            {% for r in recipes[page|int - 1] %}
                <a href="{{ url_for('view_recipe', recipe_id=r._id) }}" class="collection-item"><span class="flow-text teal-text text-darken-3">{{ r.recipe_name.title() }}</span> by <span class="flow-text teal-text text-darken-3">{{ r.author }}</span> <span class="black-text">Created on: {{ r.time_created.strftime('%Y-%m-%d %H:%M:%S') }} UTC</span></a>
            {% endfor %}
            </div>

            <ul class="pagination">
							{% if page|int == 1 %}
								<li class="disabled"><a href="#"><i class="material-icons">chevron_left</i></a></li>
							{% else %}
								<li><a href="{{ url_for('recipes_by_cuisine', cuisine=cuisine, page=page|int - 1) }}"><i class="material-icons">chevron_left</i></a></li>
							{% endif %}

							{% for r in recipes %}
								{% if loop.index == page|int %}
									<li class="active"><a href="#">{{ loop.index }}</a></li>
								{% else %}
									<li class="waves-effect"><a href="{{ url_for('recipes_by_cuisine', cuisine=cuisine, page=loop.index) }}">{{ loop.index }}</a></li>
								{% endif %}
							{% endfor %}

							{% if page|int == recipes|length %}
								<li class="disabled"><a href="#"><i class="material-icons">chevron_right</i></a></li>
							{% else %}
								<li><a href="{{ url_for('recipes_by_cuisine', cuisine=cuisine, page=page|int + 1) }}"><i class="material-icons">chevron_right</i></a></li>
							{% endif %}
						</ul>
        </div>
    </div>
</div>
{% endblock %}

{% block script %}
<script>
    var pie = new d3pie("cuisine_pie", {
        header: {
            title: {
                text: "Recipes by Cuisine",
                fontSize: 24
            }
        },
        effects: {
          load: {
            effect: "none"
          }
        },
        data: {
            content: {{ cuisine_count|tojson }}
        },
        callbacks: {
            onClickSegment: function(a) {
              loc = "{{ url_for('recipes_by_cuisine', cuisine="", page="") }}";
              location.href = loc.substring(0, loc.length - 2) + '/' + a.data.label + '/1';
            }
        }
    });
</script>
{% endblock %}
