{% extends 'base.html' %} {% block content %}
<div class="col s12 m8 l10 offset-m4 offset-l2">
    <h1 class="teal-text text-darken-3 center-align">Hi, {{ session['username'] }}</h1>
    {% if recipes|length != 0 %}
        <p>Here is a list of the recipes you created.</p>
        <ul class="collapsible">
            {% for r in recipes %}
            <li>
                <div class="collapsible-header">
                    <div class="row">
                        <div class="col s12 m8">
                        <span class="flow-text teal-text text-darken-3">{{ r.recipe_name.title() }}</span> || Views: {{ r.views }} | Likes: {{ r.upvote_count }} | Created on: {{ r.time_created.strftime('%Y-%m-%d %H:%M:%S') }} | Last modified: {{ r.last_modified.strftime('%Y-%m-%d %H:%M:%S') }}
                        </div>
                        <div class="col s12 m4">
                            <div class="right-align">
                                <a href="{{ url_for('edit_recipe', recipe_id=r._id) }}" class="btn waves-effect waves-light">Edit Recipe</a>
                                <a data-target="{{ r._id }}" class="btn waves-effect waves-light red modal-trigger">Delete Recipe</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="collapsible-body">
                    <div class="row">
                        <div class="col s12 m8">
                            <h4>Country of origin</h4> {{ r.origin }}
                        </div>
                        <div class="col s12 m4">
                            <h4>Cuisine</h4>
                            <div class="chip">{{ r.cuisine }}</div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12 m8">
                            <h4>Ingredients</h4>
                            <table>
                                <thead>
                                    <tr>
                                        <th>Ingredient</th>
                                        <th>Unit</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for key, val in r.ingredients.items() %}
                                    <tr>
                                        <td>{{ key.title() }}</td>
                                        <td>{{ val.title() }}</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        <div class="col s12 m4">
                            <h4>Allergens</h4>
                            {% if r.allergens|length > 0 %}
                                {% for a in r.allergens %}
                                    <div class="chip">{{ a }}</div>
                                {% endfor %}
                            {% else %}
                                <h5>N/A</h5>
                            {% endif %}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12">
                            <h4>Instructions</h4> {% for key, val in r.instructions.items() %}
                            <p>{{ loop.index }}. {{ val }}</p>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </li>
            {% endfor %}
        </ul>
        {% for r in recipes %}
        <div class="modal" id="{{ r._id }}">
            <div class="modal-content">
                <p>You are about to delete the following recipe:</p>
                <h1>{{ r.recipe_name.title() }}</h1>
                <p>Are you sure?</p>
            </div>
            <div class="modal-footer">
                <a href="{{ url_for('delete_recipe', recipe_id=r._id )}}" class="waves-effect waves-light btn"><i class="material-icons left">check</i>Yes</a>
                <a class="waves-effect waves-light btn red modal-close"><i class="material-icons left">close</i>No</a>
            </div>
        </div>
        {% endfor %}
    {% else %}
        <div class="center-align">
            <h2>You have yet to add any recipes. Get started now!</h2>
            <a href="{{ url_for('add_recipe') }}" class="btn btn-large waves-effect waves-light">Add Recipe</a>
        </div>
    {% endif %}
</div>
{% endblock %}