{% extends 'base.html' %} {% block content %}
<div class="col s12 l10 offset-l2">
    <h3>
        {{ recipe.recipe_name.title() }} <span class="subtext">by</span> {{ recipe.author }}
        <span class="subtext">
            Views: {{ recipe.views }}
            Likes: {{ recipe.upvote_count }}
        </span>
        {% if 'username' in session %}
            <a href="{{ url_for('upvote', recipe_id=recipe._id) }}">
                {% if session['username'] not in recipe.upvote %}
                    <i class="medium material-icons grey-text text-lighten-1">thumb_up</i>
                {% else %}
                    <i class="medium material-icons green-text text-lighten-1">thumb_up</i>
                {% endif %}
            </a>
        {% endif %}
        {% if 'username' in session and session['username'] == recipe.author %}
            <span class="right">
                <a href="{{ url_for('edit_recipe', recipe_id=recipe._id) }}" class="btn waves-effect waves-light">Edit Recipe</a>
                <a data-target="view_recipe_modal" class="btn waves-effect waves-light red modal-trigger">Delete Recipe</a>
            </span>
        {% endif %}
    </h3>
    <div class="row">
        <div class="col s12 m8">
            <h4>Country of origin</h4> {{ recipe.origin }}
        </div>
        <div class="col s12 m4">
            <h4>Cuisine</h4>
            <div class="chip">{{ recipe.cuisine }}</div>
        </div>
    </div>
    <div class="row">
        <div class="col s12 m8">
            <h4>Ingredients</h4>
            <table>
                <thead>
                    <tr>
                        <th>Ingredient</th>
                        <th>Unit</th>
                    </tr>
                </thead>
                <tbody>
                    {% for key, val in recipe.ingredients.items() %}
                    <tr>
                        <td>{{ key.title() }}</td>
                        <td>{{ val.title() }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="col s12 m4">
            <h4>Allergens</h4>
            {% if recipe.allergens|length > 0 %}
                {% for a in recipe.allergens %}
                    <div class="chip">{{ a }}</div>
                {% endfor %}
            {% else %}
                <h5>N/A</h5>
            {% endif %}
        </div>
    </div>
    <div class="row">
        <div class="col s12">
            <h4>Instructions</h4> {% for key, val in recipe.instructions.items() %}
            <p>{{ loop.index }}. {{ val }}</p>
            {% endfor %}
        </div>
    </div>
    <div class="row">
        <p>Created on: {{ recipe.time_created.strftime('%Y-%m-%d %H:%M:%S') }} UTC</p>
        <p>Last modified: {{ recipe.last_modified.strftime('%Y-%m-%d %H:%M:%S') }} UTC</p>
    </div>
    <div class="modal" id="view_recipe_modal">
        <div class="modal-content">
            <p>You are about to delete the following recipe:</p>
            <p>{{ recipe.recipe_name.title() }}</p>
            <p>Are you sure?</p>
        </div>
        <div class="modal-footer">
            <a href="{{ url_for('delete_recipe', recipe_id=recipe._id )}}" class="waves-effect waves-light btn"><i class="material-icons left">check</i>Yes</a>
            <a class="waves-effect waves-light btn red modal-close"><i class="material-icons left">close</i>No</a>
        </div>
    </div>
</div>
{% endblock %}
